
.elasticizerStandalonePageWidgetWrap{
	margin:300px 50px;
	background:yellow;
}
.elasticizerBlogWidgetWrap{
	background:#eee;
}
.elasticizerWidgetFrame{
	position:relative;
	height:200px;
}
.elasticizerActor{width:20px; height:20px;background:#873fc2;}
